
.form-control{
    margin: 10px;
    height: 50px;
    width: 450px;
}
.btn11{
    background-color:red;
    border: none;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}
.btn11:hover{
    background-color: black;
    columns: white;
}
.paraaa{
    margin-top: 15px;
    color: grey;
}
spam{
    color: orangered;
}

.card{
    height: 400px;

}
.row{
    padding-top: 100PX;
    height: 400px;
    
}

.header11{
    margin-top: 10px;
    font-weight: 500;
}